#!/usr/bin/env bash

if [ -f "{{ .mise.bin_path }}" ];
then
    echo "mise already installed"
    exit 0
else
    [ ! -d  "{{ .mise.dir }}" ] && mkdir -p "{{ .mise.dir }}"
    echo "ℹ️ Downloading mise's binary"
    curl -L "https://github.com/jdx/mise/releases/download/v{{ .mise.version }}/mise-v{{ .mise.version }}-macos-arm64" > "{{ .mise.bin_path }}"
    chmod +x "{{ .mise.bin_path }}"
fi
