
eval "$(/opt/homebrew/bin/brew shellenv)"
eval "$({{ .mise.bin_path }} activate zsh --shims)"

# Added by Toolbox App
export PATH="$PATH:/Users/alanmatuszczak/Library/Application Support/JetBrains/Toolbox/scripts"

