{{- if contains "HCP-" .chezmoi.hostname -}}
Match exec "/usr/local/bin/sft resolve -q  %h"
    ProxyCommand /usr/local/bin/sft proxycommand %h
    UserKnownHostsFile /Users/alanmatuszczak/Library/Application Support/ScaleFT/proxycommand_known_hosts
{{- else -}}
Host *
   IdentityAgent ~/.strongbox/agent.sock
{{- end -}}
