# Tool Initializations

# Load custom functions
source "${0:A:h}/functions.zsh"

eval "$({{ .mise.bin_path }} activate zsh)"
eval "$(/opt/homebrew/bin/brew shellenv)"

# FZF
source <(fzf --zsh)
bindkey '^F' fzf-file-widget
bindkey '^G' fzf-cd-widget

# ZSH Extras - cache brew prefix for performance
HOMEBREW_PREFIX="${HOMEBREW_PREFIX:-/opt/homebrew}"

FPATH="$HOMEBREW_PREFIX/share/zsh-completions:$FPATH"
export ZSH_HIGHLIGHT_HIGHLIGHTERS_DIR="$HOMEBREW_PREFIX/share/zsh-syntax-highlighting/highlighters"
source "$HOMEBREW_PREFIX/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh"
source "$HOMEBREW_PREFIX/share/zsh-autosuggestions/zsh-autosuggestions.zsh"

export ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=8"
export ZSH_AUTOSUGGEST_STRATEGY=(history completion)

autoload -Uz compinit bashcompinit
if [[ -n ${HOME}/.zcompdump(#qN.mh+24) ]]; then
  compinit -i
  bashcompinit
else
  compinit -C -i
  bashcompinit -C -i
fi

eval "$(starship init zsh)"
eval "$(direnv hook zsh)"
eval "$(atuin init zsh)"
eval "$(kubesess init zsh)"
