[user]
name = Alan Matuszczak
email = alan.matuszczak@housecallpro.com
signingKey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMHqkrBGRMV2zBTuoIau6I3PKByfHsry1uBH2dvDVFxo alanmatuszczak@HCP-FVFGD0CAQ05N.local
