
# enable vi mode
fish_vi_key_bindings
set fish_cursor_default line
set fish_cursor_insert block

fish_add_path /usr/local/bin {$HOME}/.local/bin/
eval (/opt/homebrew/bin/brew shellenv)

[ -f ~/.shell_extras_fish.sh ] && source ~/.shell_extras_fish.sh

fzf --fish | source
atuin init fish | source
starship init fish | source
mise activate fish | source
direnv hook fish | source

set -gx EDITOR 'zed --wait'
set -gx GOPATH "$HOME/go"
set -gx GOBIN "$HOME/go/bin"
set -gx GEM_HOME "$HOME/.gems"
set -gx CARGO_BIN "$HOME/.cargo/bin"

set -gx AWS_PAGER ""

set -gx TF_PLUGIN_CACHE_DIR "$HOME/.terraform.d/plugin-cache"
set -gx TF_PLUGIN_CACHE_MAY_BREAK_DEPENDENCY_LOCK_FILE 1
set -gx TERRAGRUNT_TFPATH (mise which ~/.local/share/mise/shims/terraform)
set -gx LC_ALL "pl_PL.UTF-8"
set -gx LANG "pl_PL.UTF-8"

set -gx GPG_TTY (tty)

fish_add_path $GEM_HOME/bin $GOBIN $CARGO_BIN

{{- if contains "HCP-" .chezmoi.hostname }}
set -gx LC_ALL "en_US.UTF-8"
set -gx LANG "en_US.UTF-8"
[ -f "$HOME/.w_secrets" ] && source "$HOME/.w_secrets"
{{- else }}
set -gx LC_ALL "pl_PL.UTF-8"
set -gx LANG "pl_PL.UTF-8"

# https://strongbox.reamaze.com/kb/ssh-agent/ssh-agent
set -gx SSH_AUTH_SOCK "$HOME/.strongbox/agent.sock"
set -gx AWS_DEFAULT_PROFILE "avcudenoir"
[ -f "$HOME/.h_secrets" ] && "source $HOME/.h_secrets"
{{ end }}
